<div class="post-img">
    <a href="/post/">
        <img src="https://placehold.it/551x431" alt="post" width="551" height="431">
    </a>
    <a href="" class="fashion post-cat">Economy</a>
</div>
<div class="post-content">
    <h3 class="post-title">
        <a href="/post/">
            After Moon They arand Styst
            CloseSpace Really
        </a>
    </h3>
    <div class="post-meta">
        <ul>
            <li>
                <span class="rt-meta">
                    by <a href="#" class="name">Seyi Pythonian</a>
                </span>
            </li>
            <li>
                <span class="rt-meta">
                    <i class="far fa-calendar-alt icon"></i>
                    DECEMBER 9, 2022
                </span>
            </li>
        </ul>
    </div>
    <p>
        Proactively envisioned multiedia bassey
        rtise and cross-media.
    </p>
</div>