<div class="item">
    <h4 class="post-title">
        <a href="#">
            Our Ultimatey Top Hikes in New areary unknown
            printer took
        </a>
    </h4>
    <div class="post-meta">
        <ul>
            <li>
                <span class="rt-meta">
                    By <a href="author.html" class="name">Admin</a>
                </span>
            </li>
            <li>
                <span class="rt-meta">
                    <i class="far fa-calendar-alt icon"></i>
                    DECEMBER 9, 2022
                </span>
            </li>
        </ul>
    </div>
</div>