<div class="featured-middle-post-style-5">
    <div class="rt-post post-md style-5 grid-meta">
        <div class="post-img">
            <a href="/post/">
                <img src="https://placehold.it/1200x491" alt="post" width="1200" height="491">
            </a>
        </div>
        <div class="post-content">
            <a href="" class="rt-post-cat-normal">Top Story</a>
            <h3 class="post-title">
                <a href="/post/">
                    After Moon They ar Land CloseSpace
                    Get the best Really
                </a>
            </h3>
            <p>
                Ahen an unknown printer took a galley of type and scrambled imake
                type specimen book has survived not only five centurie.
            </p>
            <div class="post-meta">
                <ul>
                    <li>
                        <span class="rt-meta">
                            by <a href="" class="name">Willum Skeem</a>
                        </span>
                    </li>
                    <li>
                        <span class="rt-meta">
                            <i class="far fa-calendar-alt icon"></i>
                            DECEMBER 9, 2022
                        </span>
                    </li>
                    <li>
                        <span class="rt-meta">
                            <i class="fas fa-eye icon"></i>
                            3,250
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>