{% load static %}
<div class="featured-news-box-style-1" style="position: relative;">
    <a href="{{ post.get_absolute_url }}">
        <img src="{% if post.image %}{{ post.image_thumbnail.url }}{% elif post.image_link %}{{ post.image_link }}{% else %}{% static 'img/post.png' %}{% endif %}" alt="{{ post.image_caption }}" width="612" height="488">
    </a>
    <div class="position-absolute text-start top-0 w-100 p-2"> <span class="badge p-2 bg-danger">{{ post.category }}</span>
    </div>
    <div class="inner">
        <div class="feature-content">
            <ul class="featured-list">
                <li>
                    <h4 class="post-title text-dark">
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                    </h4>
                    <div class="post-meta mb-3">
                        <ul>
                            <li>
                                <span class="rt-meta">
                                    By {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}National Trust{% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="rt-meta">
                                    <i class="far fa-calendar-alt icon"></i>
                                    {{ post.created|date:"F j, Y" }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <p class="mb-0">
                        {{ post.body|truncatechars:130|striptags }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>