<ul class="social-connection">
    <li>
        <a style="background-image: linear-gradient(-90deg, #2c6dd2 0%, #1155bf 100%);" href="https://www.facebook.com/nationaltrustng" target="_blank">
            <i class="fab fa-facebook-f facebook"></i>
            <span class="text">Like us on Facebook</span>
        </a>
    </li>
    <li>
        <a style="background-image: linear-gradient(-90deg, #56c3f0 0%, #13a4e7 100%);" target="_blank" href="https://twitter.com/NationalTrustTV">
            <i class="fab fa-twitter twitter"></i>
            <span class="text">Follow us on Twitter</span>
        </a>
    </li>
    <li>
        <a style="background-image: linear-gradient(-90deg, #ff5252 0%, #ed1c24 100%);" target="_blank" href="https://youtube.com/@NationalTrustNG">
            <i class="fab fa-youtube youtube"></i>
            <span class="text">Subscribe to Channel</span>
        </a>
    </li>
    <li>
        <a style="background-image: linear-gradient(90deg, #f09433 0%, #bc1888 100%);" target="_blank" href="https://www.instagram.com/nationaltrustng/">
            <i class="fab fa-instagram"></i>
            <span class="text">Follow us on Instagram</span>
        </a>
    </li>
    <li>
        <a style="background-image: linear-gradient(90deg, #1EBEA5 0%, #00E676 100%);" target="_blank" href="https://wa.me/2348116593333">
            <i class="fab fa-whatsapp"></i>
            <span class="text">Chat With Us</span>
        </a>
    </li>
</ul>