<ul class="social-connection-style-2">
    <li>
        <a target="_blank" href="https://www.facebook.com/">
            <span class="icon-box">
                <i class="fab fa-facebook-f"></i>
            </span>
            <span class="text-box">
                Follow Us
            </span>
            <span class="count-box">
                1253
            </span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/">
            <span class="icon-box">
                <i class="fab fa-twitter"></i>
            </span>
            <span class="text-box">
                Follow Us
            </span>
            <span class="count-box">
                1253
            </span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/">
            <span class="icon-box">
                <i class="fab fa-instagram"></i>
            </span>
            <span class="text-box">
                Follow Us
            </span>
            <span class="count-box">
                1253
            </span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/channel/UCf6B4YZR82FBtztYKopM_UA">
            <span class="icon-box">
                <i class="fab fa-youtube"></i>
            </span>
            <span class="text-box">
                Subscriber
            </span>
            <span class="count-box">
                1253
            </span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://wa.me/2348116593333">
            <span class="icon-box">
                <i class="fab fa-whatsapp"></i>
            </span>
            <span class="text-box">
                Chat With Us
            </span>
            <span class="count-box">
                +234
            </span>
        </a>
    </li>
</ul>