<ul class="social-connection">
    <li>
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f facebook"></i>
            <span class="text">Like us on Facebook</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/NationalTrustTV">
            <i class="fab fa-twitter twitter"></i>
            <span class="text">Follow us on Twitter</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://youtube.com/@NationalTrustNG">
            <i class="fab fa-youtube youtube"></i>
            <span class="text">Subscribe to Channel</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/nationaltrustng/">
            <i class="fab fa-instagram"></i>
            <span class="text">Follow us on Instagram</span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://wa.me/2348116593333">
            <i class="fab fa-whatsapp"></i>
            <span class="text">Chat With Us</span>
        </a>
    </li>
</ul>