<!-- Start Footer -->
<footer class="footer footer-style-5">

    <!-- start subscribe section -->
    <div class="section overflow-hidden mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-subscribe-wrapper section-padding">
                        <div class="row g-4 g-xl-5 justify-content-between">
                            <div class="col-lg-5">
                                <div class="rt-subscribe-title-box-style-8">
                                    <div class="icon-wrap">
                                        <span class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                    <div class="title-wrap">
                                        <h3 class="title">
                                            Subscribe To Our Mailing List
                                        </h3>
                                        <p>
                                            Get the news right tn your inbox
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->

                            <div class="col-lg-7 align-self-center">

                                <form action="#" class="rt-contact-form subscribe-form-style-8">
                                    <div class="rt-subs-group">
                                        <input type="email" name="email" id="email_2" class="subscribe-form"
                                            placeholder="Your e-mail" data-error="Email field is required" required>
                                        <button type="submit" class="subscribe-btn">Subscribe </button>
                                    </div>
                                    <div class="form-response"></div>
                                </form>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end subscribe section -->

    <div class="container mb-5">
        <div class="footer-widget-style-2 d-flex align-items-center justify-content-center text-center flex-column">
            <div class="mb-4">
                <a href="index.html">
                    <img src="https://placehold.it/170x50" alt="logo-classic" width="170" height="50">
                </a>
            </div>
            <ul class="footer-menu-style-2">
                <li>
                    <a href="#">Advertise with us</a>
                </li>
                <li>
                    <a href="#">Privacy policy</a>
                </li>
                <li>
                    <a href="#">Terms of service</a>
                </li>
            </ul>
        </div>
        <!-- end footer-widget-style-2 -->

        <div class="d-flex justify-content-between">
            <p class="copyright-text mb-0">
                <span class="currentYear"></span> &copy; All rights reserved.
            </p>
            <p class="copyright-text">
                <!-- Developed by <a href="">Seyi Pythonian</a> -->
                Right copyleft
            </p>
        </div>
    </div>

</footer>
<!-- End  Footer -->