<!-- Start Footer -->
<footer class="footer footer-style-5">    
    <div class="footer-top footer-style-1">
        <div class="container">
            <div class="row gy-5 justify-content-lg-between">
                <div class="col-xl-4 col-md-6">
                    <div class="footer-widget">
                        <h2 class="mb-3 text-white">National Trust Nigeria</h2>
                        <p class="text">
                            Abuja, Nigeria.<br>
                        </p>
                        <p class="copyright-text mb-0">
                            &copy;2019 - {% now "Y" %} &bull; National Trust Nigeria. All right reserved.
                        </p>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6 d-flex justify-content-xl-center justify-content-start">
                    <div class="footer-widget">
                        <h3 class="footer-widget-title">Categories</h3>
                        <ul class="widget-list cat-list">
                            {% for c in categories %}
                            <li class="widget-list-item">
                                <a href="{{ c.get_absolute_url }}" class="widget-list-link">
                                    {{ c.title }}
                                </a>
                            </li>
                            {% empty %} 
                            <p>No categories yet.</p>
                            {% endfor %}
                            <li class="widget-list-item">
                                <a href="/category/editorial/" class="widget-list-link">
                                    Editorial
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="row g-4">
                        <ul class="footer-social gutter-15">
                            <li class="social-item">
                                <a href="https://www.facebook.com/" class="social-link fb" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://twitter.com/" class="social-link tw" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.pinterest.com/" class="social-link pn" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.whatsapp.com/" class="social-link wh" target="_blank">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="col-12">
                            <div class="rt-subscribe-title-box-style-8">
                                <div class="title-wrap">
                                    <h3 class="title text-white">
                                        Subscribe To Our Mailing List
                                    </h3>
                                    <p>
                                        Get the news right tn your inbox
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 align-self-center">
            
                            <form action="" class="rt-contact-form subscribe-form-style-8">
                                <div class="rt-subs-group">
                                    <input type="email" name="email" id="email_2" class="subscribe-form" placeholder="Your e-mail"
                                        data-error="Email field is required" required>
                                    <button type="submit" class="subscribe-btn">Subscribe </button>
                                </div>
                                <div class="form-response"></div>
                            </form>
                        </div>
                    </div>
                    <div class="footer-widget">
                        <div class="sidebar-wrap my-5">
                            <div class="search-box">
                                <form action="#" class="form search-form-box">
                                    <div class="form-group">
                                        <input type="text" name="sarch" id="search" placeholder="Search..."
                                            class="form-control rt-search-control">
                                        <button type="submit" class="search-submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="pt-5 d-flex align-items-center justify-content-center">
                <ul class="footer-menu-style-2">
                    <li><a href="/about/">About us</a></li>
                    <li><a href="/contact/">Submit a story</a></li>
                    <li><a href="/advertise/">Advertise with us</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>
<!-- End  Footer -->