<div class="col-12">
    <div class="rt-post post-sm style-2 layout-2">
        <div class="post-img me-0">
            <a href="#">
                <img src="https://placehold.it/551x431" alt="post" width="551" height="431">
            </a>
        </div>
        <div class="ms-3 post-content">
            <a href="politics.html" class="rt-post-cat-normal">Politics</a>
            <h4 class="post-title">
                <a href="#">
                    Beste ampute arey Speak Market
                </a>
            </h4>
            <span class="rt-meta">
                <i class="far fa-calendar-alt icon"></i>
                May 24, 2023
            </span>
        </div>
    </div>
</div>