<!-- header-middlebar -->
<div class="header-middlebar header-middlebar-style-8" id="middlebar-wrap">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between">

                <!-- start logo here -->
                <div class="logo">
                    <a href="/">
                        <img width="162" height="52" src="https://placehold.it/162x52" alt="neeon">
                    </a>
                </div>
                <!-- end logo here -->

                <div class="ad-banner-img">
                    <a href="#">
                        <img src="https://placehold.it/740x90" alt="ft-ad_1" width="740" height="90">
                    </a>
                </div>
                <!-- end ad-banner-img -->

            </div>
        </div>
    </div>
</div>
<!-- end header-middlebar -->