<!-- start rt-mobile-header -->
<div class="rt-mobile-header mobile-sticky-on">

    <div id="mobile-sticky-placeholder"></div>
    <!-- end mobile-sticky-placeholder -->

    <div class="mobile-top-bar" id="mobile-top-bar">
        <ul class="mobile-top-list">
            <li>
                <span class="rt-meta">
                    <i class="far fa-calendar-alt icon"></i>
                    <span class="currentDate">FEBRUARY 9, 2023</span>
                </span>
            </li>
            <li>
                <span class="rt-meta">
                    <i class="fas fa-map-marker-alt icon"></i>
                    Lagos, Nigeria.
                </span>
            </li>
        </ul>
    </div>
    <!-- end mobile-top-bar -->

    <div class="mobile-menu-bar-wrap" id="mobile-menu-bar-wrap">
        <div class="mobile-menu-bar">
            <div class="logo">
                <a href="index.html">
                    <img src="https://placehold.it/162x52" alt="neeon" width="162" height="52">
                </a>
            </div>
            <span class="sidebarBtn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
        </div>
        <div class="rt-slide-nav">
            <div class="offscreen-navigation">
                <nav class="menu-main-primary-container">
                    <ul class="menu">
                        <li class="list">
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li class="list">
                            <a href="javascript:void(0)">Archive</a>
                        </li>
                        <li class="list">
                            <a href="javascript:void(0)">About Us</a>
                        </li>
                        <li class="list">
                            <a href="javascript:void(0)">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<!-- end rt-mobile-header -->