<style>
    .nav-scroller {
    position:relative;
    z-index:2;
    height:2.75rem;
    overflow-y:hidden; }
    
.nav-scroller .nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    padding-bottom:1rem;
    margin-top:-1px;
    overflow-x:auto;
    white-space:nowrap;
    -webkit-overflow-scrolling:touch; }

.nav-scroller .nav a:hover {
    color:#000!important }

.flex-auto{
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto; }

</style>

<!-- Header Main -->
<div class="header-main header-main-style-5 navbar-wrap" id="navbar-wrap">
    <div class="container">
        <div class="row">
            <div class="header-action-bars d-flex align-items-center justify-content-between">

                <!-- start header actions -->
                <ul class="header-action-items d-none d-sm-block">
                    <li class="rt-meta">
                        <i class="far fa-calendar-alt icon"></i>
                        <span class="currentDate">
                            FEBRUARY 9, 2023
                        </span>
                    </li>
                    
                </ul>
                <!-- end header actions -->

                <!-- end humburger icon -->

                <!-- start logo here -->
                <div class="site-branding">
                    <a href="/"><h1 class="fw-bold" style="color:firebrick;">National Trust</h1></a>
                </div>
                <!-- end logo here -->

                <!-- start header actions -->
                <ul class="header-action-items">
                    <li class="item humburger offcanvas-menu-btn menu-status-open">
                        <span></span>
                    </li>
                </ul>
                <!-- end header actions -->

            </div>
        </div>

        <div class="row d-none d-xl-block">
            <div class="header-menu-bars d-flex align-items-center">

                <div class="main-menu">
                    <nav class="main-menu__nav">
                        <ul>
                            <li class="{% url 'news:home' as home_url %}{% if request.get_full_path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home</a></li>
                            {% for c in categories %} 
                            <li  class="{% url 'news:category' c.slug as category_url %}{% if request.get_full_path == category_url %}active{% endif %}"><a href="{{ category_url }}">{{ c.title }}</a></li>
                            {% endfor %}
                            <li class="{% url 'news:contact' as contact_url %}{% if request.get_full_path == contact_url %}active{% endif %}"><a href="{{ contact_url }}">Submit a Story</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="nav-scroller py-1 mb-2 d-xl-none">
            <nav class="nav d-flex justify-content-between">
                {% for c in categories %}
                <a class="p-2 text-decoration-none" href="{{ c.get_absolute_url }}">{{ c.title }}</a>
                {% endfor %}
                <a class="py-2 ps-2 text-decoration-none" href="/category/editorial/">Editorial</a>
            </nav>
        </div>
    </div>
</div>

<div class="offcanvas-menu-wrap offcanvas-menu-wrap-style-2" id="offcanvas-wrap" data-position="left">

    <div class="offcanvas-content offcanvas-content-style-2">

        <div class="offcanvas-top-area">
            <div class="offcanvas-header">
                <div class="offcanvas-logo">
                    <a href="/">
                        <h3 class="fw-bold" style="color:firebrick;">National Trust</h3>
                    </a>
                </div>
                <div class="close-btn offcanvas-close">
                    <a href="javascript:void(0)">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="offscreen-navigation">
                <nav class="menu-main-primary-container">
                    <ul class="menu">
                        <li class="list">
                            <a href="/">Home</a>
                        </li>
                        <li class="list">
                            <a href="/about/">About us</a>
                        </li>
                        <li class="list">
                            <a href="/contact/">Submit a Story</a>
                        </li>
                        <li class="list">
                            <a href="/advetise/">Advertise with us</a>
                        </li>
                        <li class="list">
                            <a href="/privacy/">Privacy</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

        <div class="offcanvas-bottom-area">
            <div class="offcanvas-widget footer-widget">
                <h3 class="offcanvas-widget-title">Contact Info</h3>
                <ul class="contact-info-list widget-list">
                    <li class="widget-list-item">
                        <i class="fas fa-phone-alt list-icon"></i>
                        <a href="tel:08116593333" class="widget-list-link">
                            (+234) 08116593333
                        </a>
                    </li>
                    <li class="widget-list-item">
                        <i class="fas fa-map-marker list-icon"></i>
                        <a href="javascript:void(0)" class="widget-list-link">
                            Abuja, Nigeria
                        </a>
                    </li>
                    <li class="widget-list-item">
                        <i class="fas fa-envelope list-icon"></i>
                        <a href="mailto:nationaltrustng@gmail.com" class="widget-list-link">
                            nationaltrustng@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-widget footer-widget">
                <ul class="footer-social style-2">
                    <li class="social-item">
                        <a href="https://www.facebook.com/" class="social-link fb" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://twitter.com/" class="social-link tw" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.youtube.com/channel/UCf6B4YZR82FBtztYKopM_UA" class="social-link vm" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://wa.me/2348116593333" class="social-link wh" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>