<!-- Header Main -->
<div class="header-main header-main-style-9 navbar-wrap" id="navbar-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="menu-wrap-style-9 d-flex align-items-center justify-content-between">

                    <!-- start main menu -->
                    <div class="main-menu">
                        <nav class="main-menu__nav">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Opinion</a></li>
                                <li><a href="#">Personality</a></li>
                                <li><a href="#">Photos</a></li>
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Interview</a></li>
                                <li><a href="#">Economy</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Columnists</a></li>
                                <li><a href="#">Africa</a></li>
                                <li><a href="#">World</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end main menu -->

                    <!-- start header actions -->
                    <ul class="header-action-items">
                        <li class="item">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="item">
                            <span></span>
                        </li>
                    </ul>
                    <!-- end header actions -->

                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- End Header Main -->