<!-- Header Main -->
<div class="header-main header-main-style-9 navbar-wrap" id="navbar-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="menu-wrap-style-9 d-flex align-items-center justify-content-between">

                    <!-- start main menu -->
                    <div class="main-menu">
                        <nav class="main-menu__nav">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li class="main-menu__nav_sub list">
                                    <a class="animation" href="javascript:void(0)">Categories</a>
                                    <ul class="main-menu__dropdown">
                                        <li><a href="#">Politics</a></li>
                                        <li><a href="#">Health</a></li>
                                        <li><a href="#">Agriculture</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Entertainment</a></li>
                                        <li><a href="#">Security</a></li>
                                        <li><a href="#">Economy</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="/contact/">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end main menu -->

                    <!-- start header actions -->
                    <ul class="header-action-items">
                        <li class="item">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="item">
                            <span></span>
                        </li>
                    </ul>
                    <!-- end header actions -->

                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- End Header Main -->