<div class="rt-post-grid post-grid-md grid-meta">
    <div class="post-content">
        <a href="{{ post.category.get_absolute_url }}" class="rt-post-cat-normal">{{ post.category.title }}</a>
        <h4 class="post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h4>
        <span class="rt-meta">
            <i class="far fa-calendar-alt icon"></i>
            {{ post.created|date:"F j, Y" }}
        </span>
    </div>
</div>