<div class="post-list-style-4 mb-4">
    <div class="post-item">
        <div class="rt-post post-md style-9 grid-meta">
            <div class="post-img">
                <a href="#">
                    <img src="https://placehold.it/696x491" alt="post" width="696" height="491">
                </a>
            </div>
            <div class="post-content">
                <a href="#" class="rt-cat-primary">Health</a>
                <h3 class="post-title">
                    <a href="#">
                        Hypnotherapy For Motivation Gett
                        ing The Drive Back
                    </a>
                </h3>
                <p>
                    Ahen an unknown printer took a galley of type and
                    scrambled imake
                    type specimen book has survived not only five
                    centurie.
                </p>
                <div class="post-meta">
                    <ul>
                        <li>
                            <span class="rt-meta">
                                by <a href="#" class="name">Seyi
                                    Pythonian</a>
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="far fa-calendar-alt icon"></i>
                                DECEMBER 9, 2022
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="fas fa-eye icon"></i>
                                3,250
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>