<div class="rt-post post-md style-8">
    <div class="post-img">
        <a href="#">
            <img src="https://placehold.it/551x430" alt="post" width="551" height="430">
        </a>
    </div>
    <div class="post-content">
        <a href="#" class="ft-yoga">Security</a>
        <h4 class="post-title">
            <a href="#">
                Our Ultimatey Top Hikes
                in New Zealand
            </a>
        </h4>
        <span class="rt-meta">
            <i class="far fa-calendar-alt icon"></i>
            DECEMBER 9, 2022
        </span>
    </div>
</div>