<div class="item">
    <div class="item-content" style="position: relative;">
        <div class="post-img me-0 mb-2">
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.image_thumbnail.url|default:post.image.url }}" alt="post" width="551" height="431">
            </a>
        </div>
        <div class="position-absolute text-start top-0 w-100 p-2"> <span class="badge p-2 bg-danger">{{ post.category }}</span> </div>
        <h4 class="post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h4>
        <span class="rt-meta me-2">
            By National Trust
        </span>
        <span class="rt-meta">
            <i class="far fa-calendar-alt icon"></i>
            {{ post.created|date:"F j, Y" }}
        </span>
    </div>
</div>