<div class="post-list-style-4 mb-4">
    <div class="post-item">
        <div class="rt-post post-md style-9 grid-meta">
            <div class="post-img">
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.image_thumbnail.url|default:post.image.url }}" alt="{{ post.image_caption }}" width="696" height="491">
                </a>
            </div>
            <div class="post-content">
                <h3 class="post-title">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h3>
                <p>
                    {{ post.body|truncatechars:280 }}
                </p>
                <div class="post-meta">
                    <ul>
                        <li>
                            <span class="rt-meta">
                                by {{ post.author.get_full_name }}
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="far fa-calendar-alt icon"></i>
                                {{ post.created|date:"F j, Y" }}
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="fas fa-eye icon"></i>
                                {{ post.page_views }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>