<div class="rt-post post-md style-7 grid-meta bold-underline mb--20">
    <div class="post-img">
        <a href="#">
            <img src="https://placehold.it/696x491" alt="post" width="696" height="491">
        </a>
    </div>
    <div class="post-content">
        <a href="life-style.html" class="world">World</a>
        <h3 class="post-title">
            <a href="#">
                African Nations Are Struggling
                To Save Their Wildlife
            </a>
        </h3>
        <p>
            The main thing that you have to remember on this journey just
            be nice to everyone and always smile. Refreshingly what are
            was expected of her was the same thing that was expected.

        </p>
        <div class="post-meta">
            <ul>
                <li>
                    <span class="rt-meta">
                        by <a href="author.html" class="name">Willum Skeem</a>
                    </span>
                </li>
                <li>
                    <span class="rt-meta">
                        <i class="far fa-calendar-alt icon"></i>
                        DECEMBER 9, 2022
                    </span>
                </li>
                <li>
                    <span class="rt-meta">
                        <i class="fas fa-share-alt icon"></i>
                        3,250
                    </span>
                </li>
            </ul>
        </div>
        <div class="btn-wrap mt--25">
            <a href="#" class="rt-read-more rt-button-animation-out">
                Read More
            </a>
        </div>
    </div>
</div>