<div class="rt-post-grid grid-meta">
    <div class="post-img">
        <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image_thumbnail.url|default:post.image.url }}" alt="{{ post.image_caption }}" width="551" height="430">
        </a>
    </div>
    <div class="post-content">
        <h3 class="post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h3>
        <div class="post-meta">
            <ul>
                <li>
                    <span class="rt-meta">
                        By {{ post.author.get_full_name }}
                    </span>
                </li>
                <li>
                    <span class="rt-meta">
                        <i class="far fa-calendar-alt icon"></i>
                        {{ post.created|date:"F j, Y" }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>