{% load static %}
<div class="post-list-style-4 mb-4">
    <div class="post-item">
        <div class="rt-post post-md style-9 grid-meta">
            <div class="post-img">
                <a href="{{ post.get_absolute_url }}">
                    <img src="{% if post.image %}{{ post.image_thumbnail.url }}{% elif post.image_link %}{{ post.image_link }}{% else %}{% static 'img/post.png' %}{% endif %}" alt="{{ post.image_caption }}" width="696" height="491">
                </a>
            </div>
            <div class="post-content">
                <h3 class="post-title text-dark">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h3>
                <p>
                    {{ post.body|truncatechars:280|striptags }}
                </p>
                <div class="post-meta">
                    <ul>
                        <li>
                            <span class="rt-meta">
                                by National Trust
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="far fa-calendar-alt icon"></i>
                                {{ post.created|date:"F j, Y" }}
                            </span>
                        </li>
                        <li>
                            <span class="rt-meta">
                                <i class="fas fa-eye icon"></i>
                                {{ post.page_views }}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>