<div class="featured-news-box-style-1">
    <a href="#">
        <img src="https://placehold.it/612x488" alt="recent-post_11" width="612" height="488">
    </a>
    <div class="inner">
        <div class="feature-content">
            <a href="" class="sports">Sports</a>
            <ul class="featured-list">
                <li>
                    <h4 class="post-title">
                        <a href="/post/">
                            Magical fisher basical
                            power to conjure
                        </a>
                    </h4>
                    <div class="post-meta mb-3">
                        <ul>
                            <li>
                                <span class="rt-meta">
                                    By <a href="" class="name">Admin</a>
                                </span>
                            </li>
                            <li>
                                <span class="rt-meta">
                                    <i class="far fa-calendar-alt icon"></i>
                                    DECEMBER 9, 2022
                                </span>
                            </li>
                        </ul>
                    </div>
                    <p class="mb-0">
                        Ahen unknown printer took galy
                        type and scramble.Ahen unknown
                        printer took galy type.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>