<div class="item-img item">
    <a href="/post/">
        <img src="https://placehold.it/696x491" alt="post" width="696" height="491">
    </a>
    <div class="item-content">
        <div class="video-content-list">
            <div class="title-area">
                <h4 class="post-title">
                    <a href="/post/">
                        Aenean ierdiet Etiam ltricies nisaugue ...
                    </a>
                </h4>
                <span class="rt-meta">
                    <i class="fas fa-eye icon"></i>
                    3,250 views
                </span>
            </div>
            <div class="btn-area ms-3">
                <a href="https://www.youtube.com/watch?v=LBPsKtpH93o" class="play-btn play-btn-white">
                    <i class="fas fa-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>