{% load youtube_filters %}
{% with youtube_url=interview.youtube_link %}
<div class="item-img item">
    <img src="{{ youtube_url|youtube_thumbnail }}" alt="post" width="696" height="491">
    <div class="item-content">
        <div class="video-content-list">
            <div class="title-area">
                <h4 class="post-title">
                    {{ interview.title }}
                </h4>
                <span class="rt-meta">
                    <i class="fas fa-calendar icon"></i>
                    {{ interview.created|date:"F j, Y" }}
                </span>
            </div>
            <div class="btn-area ms-3">
                <a href="{{ interview.youtube_link }}" class="play-btn play-btn-white">
                    <i class="fas fa-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endwith %}