<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Error | National Trust Nigeria</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://nationaltrustng.s3.amazonaws.com/static/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://nationaltrustng.s3.amazonaws.com/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://nationaltrustng.s3.amazonaws.com/static/css/style.css">

</head>

<body>

    <div id="wrapper" class="wrapper">
        <div id="main_content">
            <main>
                <div class="error-section error-layout-1 section-padding-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="error-area-style-1 text-center">
                                    <div class="item-content">
                                        <h2 class="title">
                                            500... Server Error!
                                        </h2>
                                        <p>Oops! Something went wrong on the server.</p>
                                        <p>We apologize for the inconvenience. Our team has been notified of the issue and is working to resolve it.</p>
                                        <p>Please try again later.</p>
                                    </div>
                                    <div class="btn-wrap">
                                        <a href="/" class="rt-btn-primary ">Reload</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </main>
        </div>

    </div>

    <script src="https://nationaltrustng.s3.amazonaws.com/static/js/jquery.min.js"></script>
    <script src="https://nationaltrustng.s3.amazonaws.com/static/js/popper.min.js"></script>
    <script src="https://nationaltrustng.s3.amazonaws.com/static/js/bootstrap.min.js"></script>
    <script src="https://nationaltrustng.s3.amazonaws.com/static/js/app.js"></script>

</body>

</html>