{% extends "base.html" %} 

{% block title %}{{ category.title }} | Category{% endblock %}

{% block content %} 

<div class="banner inner-banner">
    <div class="container">
        <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="rt-text-truncate">
                        {{ category.title }}
                    </span>
                </li>
            </ol>
        </nav>
    </div>
</div>

<section class="rt-sidebar-section-layout-1">
    <div class="container">
        <div class="row gutter-40">
            <div class="col-xl-9">
                <div class="rt-left-sidebar-sapcer-5">

                    <div class="post-list-style-4">
                        {% for post in posts %}
                        {% include 'partials/_post_list_1.html' %}
                        {% endfor %}
                    </div>

                    {% include 'partials/_pagination.html' with page_obj=posts %}
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 mx-auto">
                <div class="rt-sidebar">

                    <div class="mb-5">
                        <div class="search-box">
                            <form action="technology.html#" class="form search-form-box">
                                <div class="form-group">
                                    <input type="text" name="sarch" id="search" placeholder="Search..."
                                        class="form-control rt-search-control">
                                    <button type="submit" class="search-submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Editor-in-Chief</span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        {% include 'partials/_editor_profile_card.html' %}
                    </div>
                    
                    <div class="sidebar-wrap mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Popular Posts </span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <div class="post-list">
                            {% for post in popular_posts %}
                            {% include 'partials/_post_grid_2.html' %}
                            {% empty %}
                            <p class="mt-5 text-center">No Posts yet.</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sidebar-wrap mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Top Categories</span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <ul class="rt-categories">
                            {% for category, post_count in top_categories %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">
                                    <span class="cat-name">{{ category.title }}</span>
                                    <span class="count">{{ post_count }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %} 
