{% extends "base.html" %}

{% block title %}Home{% endblock title %} 

{% block content %} 

<section class="py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-6 order-2 order-xl-1">
                <div class="top-headline-box-style-1">
                    <h2 class="title">Politics</h2>
                    {% for post in latest_politics %}
                        {% include 'partials/_post_grid_1.html' %}
                    {% empty %} 
                        <p class="text-center mt-5">No Politics Stories Yet.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 order-1 order-xl-2">
                {% for post in latest_stories %}
                    {% include 'partials/_latest_posts.html' %}
                {% empty %}
                    <p class="text-center mt-5">No Stories Yet.</p>
                {% endfor %}
            </div>
            <div class="col-xl-3 col-lg-6 order-2 order-xl-3">
                <div class="top-headline-box-style-1">
                    <h2 class="title">News</h2>
                    {% for post in latest_news %}
                        {% include 'partials/_post_grid_1.html' %}
                    {% empty %}
                        <p class="text-center mt-5">No News Stories Yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'partials/_ad_horizontal.html' %}
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-9">
                <div class="me-lg-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Features</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                        </div>
                    </div>

                    <div class="row g-4">
                        {% for post in latest_features %}
                        <div class="col-12">
                            {% include 'partials/_post_list_1.html' %}
                        </div>
                        {% empty %} 
                            <div class="col-12 text-center mt-5"><p>No Features Story Yet</p></div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-8 mx-auto">
                <div class="mb-5">
                    <h2 class="rt-section-heading style-2 mb-3">
                        <span class="rt-section-text">Follow Us </span>
                        <span class="rt-section-dot"></span>
                        <span class="rt-section-line"></span>
                    </h2>
                    {% include 'partials/_followus_sidebar.html' %}
                </div>

                <div class="mb-5">
                    <h2 class="rt-section-heading style-2 mb-3">
                        <span class="rt-section-text">Opinions</span>
                        <span class="rt-section-dot"></span>
                        <span class="rt-section-line"></span>
                    </h2>
                    <div class="row">
                        {% for post in latest_opinions %}
                        <div class="col-12">
                            {% include 'partials/_post_grid_2.html' %}
                        </div>
                        {% empty %} 
                            <div class="col-12 mt-4 text-center"><p>No Opinion Stories Yet.</p></div>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-5">
                    <h2 class="rt-section-heading style-2 mb-3">
                        <span class="rt-section-text">Editorial</span>
                        <span class="rt-section-dot"></span>
                        <span class="rt-section-line"></span>
                    </h2>
                    {% for post in latest_editorial %}
                    {% include 'partials/_featured_news_box.html' %}
                    {% empty %} 
                    <p class="text-center mt-5">No Editorial Yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-9">
                <div class="mb-5 me-lg-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Personality</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                        </div>
                    </div>

                    <div class="row g-4">
                        {% for post in latest_personality %}
                        <div class="col-md-6">
                            {% include 'partials/_post_grid_3.html' %}
                        </div>
                        {% empty %} 
                        <p class="text-center mt-5">No Stories on Personality Yet</p>
                        {% endfor %}
                    </div>
                </div>
                {% include 'partials/_ad_horizontal.html' %}
            </div>

            <div class="col-xl-3 col-md-8 mx-auto">
                <div class="rt-sidebar">
                    <div class="mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Interview</span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        {% if interview is not None %}
                        <div class="video-box-style-1 video-box">
                            {% include 'partials/_video_featured.html' %}
                        </div>
                        {% else %} 
                        <p class="my-5">No Interview Yet.</p>
                        {% endif %}
                    </div>
                    <div class="mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Popular News</span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <div class="row rt-gutter-10">
                            {% for post in popular_news %}
                            <div class="col-12">
                                {% include 'partials/_popular_news.html' %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-12">
                <div class="me-lg-1 mb-5">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Economy</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                            <div class="d-grid gap-3">
                                <div class="rt-post-list-style-4 grid-meta">
                                    {% for post in latest_economy %}
                                    {% include 'partials/_post_grid_1.html' %}
                                    {% empty %} 
                                    <p class="text-center mt-4">No Economy Posts Yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Entertainment</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                            <div class="rt-post-with-listing-style-4">
                                <div class="rt-post-list-style-4 grid-meta">
                                    {% for post in latest_entertainment %}
                                    {% include 'partials/_post_grid_1.html' %}
                                    {% empty %}
                                    <p class="text-center mt-4">No Entertainment Posts Yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Security</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                            <div class="rt-post-with-listing-style-4">
                                <div class="rt-post-list-style-4 grid-meta">
                                    {% for post in latest_security %}
                                    {% include 'partials/_post_grid_1.html' %}
                                    {% empty %}
                                    <p class="text-center mt-4">No Security Posts Yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <h2 class="rt-section-heading">
                                <span class="rt-section-text">Sports</span>
                                <span class="rt-section-dot"></span>
                                <span class="rt-section-line"></span>
                            </h2>
                            <div class="rt-post-with-listing-style-4">
                                <div class="rt-post-list-style-4 grid-meta">
                                    {% for post in latest_sports %}
                                    {% include 'partials/_post_grid_1.html' %}
                                    {% empty %}
                                    <p class="text-center mt-4">No Sports News Yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="rt-section-heading">
                    <span class="rt-section-text">Africa</span>
                    <span class="rt-section-dot"></span>
                    <span class="rt-section-line"></span>
                </h2>
            </div>
        </div>

        <div class="row gy-3">
            {% for post in latest_africa %}
            <div class="col-xl-3 col-md-6">
                {% include 'partials/_post_grid_4.html' %}
            </div>
            {% empty %}
            <p class="text-center mt-5">No African News Yet</p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="rt-section-heading">
                    <span class="rt-section-text">World</span>
                    <span class="rt-section-dot"></span>
                    <span class="rt-section-line"></span>
                </h2>
            </div>
        </div>

        <div class="row gy-3">
            {% for post in latest_world %}
            <div class="col-xl-3 col-md-6">
                {% include 'partials/_post_grid_4.html' %}
            </div>
            {% empty %}
            <p class="text-center mt-5">No World News Yet</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}