{% extends "base.html" %} 

{% block title %}Post{% endblock %} 

{% block content %} 

<!-- Start inner page Banner -->
<div class="banner inner-banner">
    <div class="container">
        <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="">
                        Entertainment
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="rt-text-truncate">
                        Best Tech Accessories 10 Work From Home Essentials We Have Delivery For All Area
                    </span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- End inner page Banner -->

<!-- start rt-sidebar-section-layout-2 -->
<section class="rt-sidebar-section-layout-2">
    <div class="container">
        <div class="row gutter-40">

            <div class="col-xl-9">
                <div class="rt-left-sidebar-sapcer-5">

                    <div class="rt-main-post-single grid-meta">

                        <!-- start post header -->
                        <div class="post-header">
                            <span class="rt-cat-primary">Entertainment</span>
                            <h2 class="title">
                                Best Tech Accessories 10 Work From Home Essentials We Have Delivery For All Area
                            </h2>
                            <div class="post-meta">
                                <ul>
                                    <li>
                                        <span class="rt-meta">
                                            by <a href="" class="name">Seyi Pythonian</a>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="rt-meta">
                                            <i class="far fa-calendar-alt icon"></i>
                                            DECEMBER 9, 2022
                                        </span>
                                    </li>
                                    <li>
                                        <span class="rt-meta">
                                            <i class="far fa-comments icon"></i>
                                            250 Comments
                                        </span>
                                    </li>
                                    <li>
                                        <span class="rt-meta">
                                            <i class="far fa-clock icon"></i>
                                            2 minute read
                                        </span>
                                    </li>
                                    <li>
                                        <span class="rt-meta">
                                            <i class="fas fa-eye icon"></i>
                                            3,250 Views
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end post-header -->

                        <!-- strat post img -->
                        <figure class="post-img">
                            <img src="https://placehold.it/960x520" alt="post-img" width="960" height="520">
                        </figure>
                        <!-- end post-img -->

                        <!-- strat psot body -->
                        <div class="post-body">
                            <p>
                                There is an unknown printer took a galley of type and their scrambled imaketype
                                specimen
                                book has follorrvived not only fiver
                                centuriewhen an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not
                                only five centuries but also the leap into electronic typesetting, remaining
                                essentially unchanged.
                            </p>
                            <p>
                                Travel orem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a gallery Followe
                                yof type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronics are
                                o nic typesetting, remaining essentially unchanged.
                            </p>
                            <p>
                                Mravel orem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galleyof typed
                                scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electro nic typesetting, remain
                                ing essentially unchanged.
                            </p>
                            <p>
                                Struggling to sell one multi-million dollar home currently on the market won’t stop
                                actress and singer Jennifer Lopez from expanding
                                her propestate holdings an eight-plus acre estate in Bel-Air anchored by a
                                Struggling to sell one multi-million dollar home uiurrently
                                on the market won’t stop actress and singer Jennifer.
                            </p>

                            {% include 'partials/_ad_960_x_150.html' %}

                        </div>

                        <div class="social-share-box-2 mb--40">
                            <div class="row gutter-30">
                                <div class="col-xl-7 col-lg-6">
                                    <div class="conent-block">
                                        <h4 class="block-tile mb--20">Tags:</h4>
                                        <div class="tag-list">
                                            <a href="#" class="tag-link">opinion</a>
                                            <a href="#" class="tag-link">travel</a>
                                            <a href="#" class="tag-link">technology</a>
                                            <a href="#" class="tag-link">politics</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-6 d-flex justify-content-start justify-content-lg-end">
                                    <div class="conent-block">
                                        <h4 class="block-tile mb--20">Share This Post:</h4>
                                        <ul class="social-share-style-1 ">
                                            <li>
                                                <a class="fb" target="_blank" href="https://www.facebook.com/">
                                                    <i class="social-icon fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="tw" target="_blank" href="https://twitter.com/">
                                                    <i class="social-icon fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="wh" target="_blank" href="https://www.whatsapp.com/">
                                                    <i class="social-icon fab fa-whatsapp"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dw" target="_blank" href="https://cloud.google.com/">
                                                    <i class="social-icon fas fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end social-share-box-2 -->

                        <!-- start author box -->
                        <div class="author-box-style-1 mb-5">
                            <div class="author-img">
                                <img src="https://placehold.it/170" alt="author-img_1" width="170" height="170">
                            </div>
                            <div class="author-content">
                                <h3 class="author-name">Seyi Pythonian</h3>
                                <span class="author-role">Content Creator</span>
                                <p class="user-desc">
                                    Tthe leap into electronic typesetting, remaining essentiallyuncha
                                    opularisedthe
                                    with
                                    the release of Letrasetsheets containingthe leap electrtypesetting remaining
                                    essentially unchanged.
                                </p>
                                <ul class="social-style-5">

                                    <li>
                                        <a target="_blank" href="https://www.facebook.com/">
                                            <i class="social-icon fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://twitter.com/">
                                            <i class="social-icon fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end author box -->

                        <!-- start post-pagination-box -->
                        <div class="post-pagination-box mb--40">

                            <div class="row gutter-30">
                                <div class="col-lg-6">
                                    <div class="next-prev-wrap">
                                        <div class="item-icon">
                                            <a href="#">
                                                <i class="fas fa-chevron-left"></i>
                                                Previous Article
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">
                                                    Top Best Compu follower career games are
                                                    Speak Market Reseach.
                                                </a>
                                            </h4>
                                            <span class="rt-meta">
                                                <i class="far fa-calendar-alt icon"></i>
                                                DECEMBER 9, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="next-prev-wrap next-wrap">
                                        <div class="item-icon">
                                            <a href="#">
                                                Next Article
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">
                                                <a href="#">
                                                    Best Technology Compu follower Career
                                                    Speak Market Reseach
                                                </a>
                                            </h4>
                                            <span class="rt-meta">
                                                <i class="far fa-calendar-alt icon"></i>
                                                DECEMBER 9, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end pagination box -->

                        <!-- start blog-post-comment -->
                        <div class="blog-post-comment mb--50">
                            <form action="#" class="rt-contact-form comments-form-style-1">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="rt-form-group">
                                            <label for="name">Your Name *</label>
                                            <input type="text" name="name" id="name" class="form-control"
                                                data-error="Name field is required" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="rt-form-group">
                                            <label for="email">E-mail *</label>
                                            <input type="text" name="email" id="email" class="form-control"
                                                data-error="Email field is required" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="rt-form-group">
                                            <label for="comment">Comments *</label>
                                            <textarea name="comment" id="comment" class="form-control text-area"
                                                data-error="Comment field is required" required></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="rt-form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="comment-form-check1">
                                                <label class="form-check-label" for="comment-form-check1">
                                                    Save my name, email, and website in this browser for the next time I
                                                    comment.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="submit-btn">
                                            Post Comment
                                        </button>
                                    </div>
                                    <div class="form-response"></div>
                                </div>
                            </form>
                        </div>
                        <!-- end blog-post-comment -->
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 mx-auto">
                <div class="rt-sidebar">

                    <div class="sidebar-wrap mb-5">
                        <div class="search-box">
                            <form action="#" class="form search-form-box">
                                <div class="form-group">
                                    <input type="text" name="sarch" id="search" placeholder="Search..."
                                        class="form-control rt-search-control">
                                    <button type="submit" class="search-submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-wrap mb-5">
                        {% include 'partials/_ad_310_x_425.html' %}
                    </div>

                    <div class="sidebar-wrap mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Stay Connected </span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        {% include 'partials/_followus_sidebar.html' %}
                    </div>

                    <div class="sidebar-wrap mb-5">
                        <h2 class="rt-section-heading style-2 mb-3">
                            <span class="rt-section-text">Related News </span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <div class="post-list">
                            {% include 'partials/_post_grid_md.html' %}
                            {% include 'partials/_post_grid_md.html' %}
                            {% include 'partials/_post_grid_md.html' %}
                            {% include 'partials/_post_grid_md.html' %}
                        </div>
                    </div>

                    <div class="sidebar-wrap mb--40">
                        <h2 class="rt-section-heading style-2 mb--30">
                            <span class="rt-section-text">Hot Categories </span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <ul class="rt-categories">
                            {% include 'partials/_top_categories.html' %}
                        </ul>
                    </div>

                    <div class="sidebar-wrap mb--40">
                        <h2 class="rt-section-heading style-2 mb--30">
                            <span class="rt-section-text">Tags </span>
                            <span class="rt-section-dot"></span>
                            <span class="rt-section-line"></span>
                        </h2>
                        <div class="tag-list">
                            <a href="#" class="tag-link">beautiful</a>
                            <a href="#" class="tag-link">travel</a>
                            <a href="#" class="tag-link">technology</a>
                            <a href="#" class="tag-link">chemical</a>
                            <a href="#" class="tag-link">chemical</a>
                            <a href="#" class="tag-link">politics</a>
                            <a href="#" class="tag-link">business</a>
                            <a href="#" class="tag-link">makeup</a>
                            <a href="#" class="tag-link">social</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} 
